<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moon_Asg8_Defaults.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Moon_Asg8_Defaults.Properties.Settings>
            <setting name="DefaultCity" serializeAs="String">
                <value>Rice Lake</value>
            </setting>
            <setting name="DefaultState" serializeAs="String">
                <value>WI</value>
            </setting>
            <setting name="DefaultZip" serializeAs="String">
                <value>54868</value>
            </setting>
            <setting name="DefaultApiKey" serializeAs="String">
                <value>[api key]</value>
            </setting>
        </Moon_Asg8_Defaults.Properties.Settings>
    </userSettings>
</configuration>